.central-ajuda {
    width: 344px;
    max-height: 760px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 0px rgba($cor-preta,.25);
    z-index: 999;
    position: fixed;
    overflow-y: scroll;
    margin-top: 8px;
    background-color: $cor-branca
}

.central-ajuda__cabecalho {
    height: 64px;
    display: flex;
    align-items: center;
    background-color: $cor-info;
    color: $cor-branca;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    position: fixed;
    width: 344px;
    box-shadow: 0 5px 5px 0 rgba($cor-preta,.1);
}

.central-ajuda__conteudo {
    background-color: $cor-branca;
    border-radius: 0 0 5px 5px;
    margin-top: 64px;
}

.central-ajuda__conteudo-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 64px;
    padding: 4px;
    margin: 4px 8px;
    border-bottom: 1px solid $cor-cinza-30
}

.central-ajuda__conteudo-contato {
    display: flex;
    justify-content: center;
    padding: 12px 16px 16px 16px;
}

.central-ajuda__oculto {
    display: none;
}

.central-ajuda__cursor-indicador {
    cursor: pointer;
}