.central-ajuda {
    width: 344px;
    display: block;
    max-width: 760px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 0px rgba($cor-preta,.25);
}

.central-ajuda__cabecalho {
    height: 64px;
    display: flex;
    align-items: center;
    background-color: $cor-info;
    color: $cor-branca;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
}

.central-ajuda__conteudo {
    background-color: $cor-branca;
    border-radius: 0 0 5px 5px;
}

.central-ajuda__conteudo-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 64px;
    padding: 4px;
    margin: 4px 8px;
    border-bottom: 1px solid $cor-cinza-30
}

.central-ajuda__conteudo-contato {
    display: flex;
    justify-content: center;
    padding: 12px 16px 16px 16px;
}