.titulo {
  @include fonte-seminegrito;
  @include resetar-titulo;
}

.titulo_gigante {
  font-size: 32px; 
}

.titulo_grande {
  font-size: 24px;
}

.titulo_medio {
  font-size: 20px;
}

.titulo_pequeno {
  font-size: 16px;
}

.titulo_mini {
  font-size: 14px;
}

.titulo_micro {
  font-size: 12px;
}

// Cores Títulos

$cores-dos-titulos:   (cor-primaria-digihelp, $cor-primaria-digihelp),
                      (cor-secundaria-digihelp, $cor-secundaria-digihelp),
                      (cor-terciaria-digihelp, $cor-terciaria-digihelp),
                      (cor-erro, $cor-erro),
                      (cor-atencao, $cor-atencao),
                      (cor-sucesso, $cor-sucesso),
                      (cor-info, $cor-info);

@each $nome, $cor in $cores-dos-titulos {
  .titulo_#{$nome} {
  color: $cor;
  }
}